[submodule "libs/closure-compiler"]
	path = libs/closure-compiler
	url = https://banguit@github.com/google/closure-compiler.git
[submodule "libs/closure-templates"]
	path = libs/closure-templates
	url = https://banguit@github.com/google/closure-templates.git
[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = https://banguit@github.com/twbs/bootstrap.git
	branch = master
[submodule "libs/less.js"]
	path = libs/less.js
	url = https://github.com/less/less.js.git
	branch = master
[submodule "libs/PlastronJS"]
	path = libs/PlastronJS
	url = https://banguit@github.com/rhysbrettbowen/PlastronJS.git
	branch = master
