[submodule "vendors/closure-compiler"]
	path = vendors/closure-compiler
	url = https://banguit@github.com/google/closure-compiler.git
[submodule "vendors/closure-templates"]
	path = vendors/closure-templates
	url = https://banguit@github.com/google/closure-templates.git
[submodule "vendors/bootstrap"]
	path = vendors/bootstrap
	url = https://banguit@github.com/twbs/bootstrap.git
	branch = master
[submodule "vendors/less.js"]
	path = vendors/less.js
	url = https://github.com/less/less.js.git
	branch = master
[submodule "vendors/PlastronJS"]
	path = vendors/PlastronJS
	url = https://banguit@github.com/rhysbrettbowen/PlastronJS.git
	branch = master
[submodule "vendors/closure-library"]
	path = vendors/closure-library
	url = https://banguit@github.com/google/closure-library.git
[submodule "vendors/closure-linter"]
	path = vendors/closure-linter
	url = https://github.com/google/closure-linter.git
	branch = master
